<mat-card>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <img mat-card-image [src]="post.featured_image" />
    <mat-card-content [innerHTML]="post.content"></mat-card-content>
    <mat-card-footer style="padding:10px">{{ post.author.name }}</mat-card-footer>


</mat-card>
<mat-list>
    <div mat-header>Comments</div>
    <mat-list-item *ngFor="let comment of comments" style="margin: 10px; text-align:justify">{{ comment.raw_content }}
        <div mat-line>{{comment.author.name}}</div>
        <div mat-line> {{comment.date | date}} </div>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>