
<mat-card *ngFor="let post of posts 
  | paginate: { id: 'listing_pagination',
  itemsPerPage: 10,
  currentPage: page,
  totalItems: totalPosts }" style="margin-bottom:10px">
  
  <mat-card-title>{{ post.title }}</mat-card-title>
  <mat-card-content [innerHTML]="post.content | summary" ></mat-card-content>
  <img mat-card-image [src]="post.featured_image"/>
  <mat-card-footer style="padding:10px">{{ post.author.name }}</mat-card-footer>

</mat-card>

<div>
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
    </pagination-controls>
</div>